html {
	min-height: 100%;	
}
body {
	margin: 0 0 0 0;
	background: rgb(118,139,222);
    background-repeat: no-repeat;
	background: linear-gradient(to bottom, rgb(32, 40, 73) 0%, rgb(126, 144, 168) 100%);
}

#outer_container {
	text-align: center;
}
#logo, p{
	color: rgb(236, 235, 226);
	text-shadow: 2px 2px 2px #444;
}
#note_p, #note2_p {
	font-style: italic;
	color: rgb(170, 170, 170);
	visibility: hidden;
	position: absolute;
}
#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;

	margin: 0 25px 25px 25px;
}
p.unmarked > a > img.flickr_image:hover {
	opacity:  0.5;
}
p.unmarked, p.gallery {
	margin: 5px 5px 5px 5px;
}
p.unmarked, p.marked {
	height: 150px;
}
p.marked {
	margin:  1px 1px 1px 1px;
	border: 4px solid lightblue;
}
p.gallery {

}
#logo {
	background-color: rgba(100, 136, 206, 0.5);
    margin: auto;
    margin-top: 5%;
    width: 30%;
    font-size: 3.5em;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 20px 20px 20px 20px;
}
#search_form {
	margin-top: 2%;
}
#mySearch {
	border: none;
	height: 25px;
	outline: 0 none;
	border-radius: 2px;
	background: rgb(223, 223, 223);
}
#searchButton {
	background: rgb(240, 210, 89);
    border: none;
    padding: 8px 20px 8px 20px;
    color: rgb(88, 88, 88);
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgb(255, 228, 119);
    font-weight: bold;
    box-shadow: 1px 1px 1px rgb(61, 61, 61);
}
#searchButton:hover {
	color: #333;
    background-color: rgb(235, 235, 235);
}
#galleryButton {
	background: rgb(240, 210, 89);
	border: none;
	padding: 7px 90px 7px 90px;
	margin: 5px 0 5px 0;
	color: rgb(88, 88, 88);
	border-radius: 3px;
	text-shadow: 1px 1px 1px rgb(255, 228, 119);
	font-weight: bold;
	box-shadow: 1px 1px 1px rgb(61, 61, 61);
}
#galleryButton:hover {
	color: rgb(51, 51, 51);
	background-color: rgb(235, 235, 235);
}
#form_p {
	font-weight: bold;
}

#gallery_button {
	margin-top: 1%;
	margin-bottom: 1%;
}
footer {
	text-align: center;
	font-style: italic;
}